@charset "UTF-8";
/* CSS Document */


article, section, aside, hgroup, nav, header, footer, figure, figcaption
{ 
    display: block;
}

body { 
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper { 
    width: 960px;
    background-color: #FFF;
    margin-left:auto;
    margin-right:auto;
}

header {
}

#headline {
    margin: 16px 0px 8px 0px;
    font-size: 256%;
}

#subtitle{
    fontsize: 128%;
    margin: 0px 0px 16px 0px;
}

nav {
    width:90%;
    margin-left: -16px;
    background-color: #EEEEEE;
    padding: 16px 0px 16px 0px;
}

nav ul {
}

nav ul li {
    padding: 0px 0px 0px 16px;
    list-style: none;
    display: inline;
}

nav ul li a {
    color: darkgray;
    text-decoration: none;
}

nav ul li a:hover {
    color: pink;
}

.highlight a{
}

#content { 
padding-left: 0px;
padding-right: 40px;
padding-bottom: 20px;
padding-top: 16px;
float: left;
width:70%;		
}

#content h1{
font-size: 128%;
padding-top: 25px;
}

#content h2 {
font-size: 118%;  
padding-top: 25px;
font-weight: bold;
}

#content h3 {
font-size: 108%;  
padding-top: 25px;
font-weight: 200;
}

#content p{
font-size: 90%; 
padding-top:16px;
padding-bottom: 16px;
line-height:16px;	
}

pre{
    padding: 8px;
    background-color: #DDDDDD;
}
section {
}


article {
}

#content ol, ul{
    margin: 8px 0px 32px 32px;
}

#content ol, ul li{
    margin-bottom: 4px;
}
#rightcol {
float: left;
padding-left: 40px;
width: 28%;	
}

#rightcol h2 {
font-size: 128%; 
padding-top: 25px;
font-weight: 400;
}

#rightcol h3 {
font-size: 16px;
padding-top: 25px;
font-weight: 200;
}

#rightcol p {
font-size: 12px;
}

aside {
}


footer {
clear:both;
height: 50px;
}

footer p {
    font-size: 90%; 
}

footer a {
color:#333;
text-decoration:none;
}